* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.blue {
  width: 350px;
  background-color: rgb(48, 141, 192);
  margin-bottom: 40px;
}

.yellow {
  background-color: rgb(253, 160, 5);
}

.grey {
  background-color: rgb(221, 221, 221);
}

.square {
  border: 1px rgb(231, 85, 81) solid;
  padding: 10px;
}
